*{
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 50px;
    font-weight: 900;
}
body{
    background-color: #f4f1de;
    color: #3D405B;
    text-align: center;
}
.container{height: 70vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.game{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
    
}
.button {
    width: 18vmin;
    height: 18vmin;
    border-radius: 30px;
    border: 5px double #F2CC8F;
    background-color: #E07A5F;
    color: #3D405B;
    font-size: 8vmin;
    cursor: pointer;
    font-weight: bold;
}
.button:active{
    box-shadow: 2px 2px 5px #fc894d;
}
.button:hover{
    scale: 1.01;
}

.other{
    width: 15vh;
    height: 5vh;
    font-size: 20px;
    background-color: #3D405B;
    color: #F2CC8F;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.other:hover{
    scale: 1.01;
}
#new-btn{
    width: 15vh;
    height: 5vh;
    font-size: 20px;
    background-color: #3D405B;
    color: #F2CC8F;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-left: 10vh
    
}
#new-btn:hover{
    scale: 1.01;
}
#msg{
    font-size: 5vmin;
    font-weight: bold;
    margin-top: 2vh;
}
.hide{
    display: none;
}
